<p>
  user-details works!
</p>

<div class="container">
  <div class="row">
    <div class="card" *ngIf="user" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">{{user.name}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">Phone: {{user.phone}}</li>
        <li class="list-group-item">Website: {{user.website}}</li>
        <div class="dropdown-divider"></div>

        <li class="list-group-item">City: {{user.address.city}}</li>
        <li class="list-group-item">Street: {{user.address.street}}</li>
        <li class="list-group-item">Suite: {{user.address.suite}}</li>
        <li class="list-group-item">ZipCode: {{user.address.zipcode}}</li>
        <div class="dropdown-divider"></div>

        <li class="list-group-item">Company: {{user.company.name}}</li>
        <li class="list-group-item">About Company: {{user.company.catchPhrase}}</li>
        <li class="list-group-item">BS: {{user.company.bs}}</li>

      </ul>
      <div class="card-body">
        <a routerLink="/users/" class="card-link">Go users!</a>
        <a routerLink="/" class="card-link">Go Home</a>
      </div>
    </div>
  </div>
</div>
